page-about {
    .con-color{
        background: linear-gradient(to bottom,
        #EB5952 0%,
        #F2955E 100%,
        #EB5952 0%,
        )!important;
      }
    .logo{
      
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .aboutme{
        margin-top: 20px;
    }
}
